body {
  font-family: Arial, Helvetica, sans-serif;
  color: #212121;
}
h1 {
  color: #3a95ff;
  font-size: 52px;
  text-align: center;
  border: 5px solid #3a95ff;
  padding-top: 50px;
  margin: 50px;
}
.yellow {
  background-color: #f4ff81;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 5px 5px 25px rgba(0, 200, 41, 0.3);
}
.double-line {
  line-height: 2;
}
ul {
  list-style-type: circle;
}
ol {
  list-style-type: lower-roman;
}
img {
  width: 250px;
}

/* стили блоков */

.orange {
  background-color: orange;
}

.orange img {
  width: 33%;
}

.rose {
  background-color: pink;
}

.green {
  background-color: greenyellow;
}

.block {
  width: 30%;
  border-radius: 15px;
  float: left;
  box-sizing: border-box;
}
